.mainCanvas{
    border:1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.settingButton{
    position:absolute;
    right:10px;
}

.settingAreaDiv{
    position:absolute;
    right:10px;
    top: 40px;
    background-color: white;
}

.hide{
    display:none;
}